@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Signika:wght@300..700&display=swap');
@import "tailwindcss";
.century-gothic{
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}
.signika-medium-500{
	font-family: "Signika", sans-serif;
   font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.roboto-regular-400 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.logo{
  height: 150px;
  width: 150px;
  top: 5px;
  left:43px;
  object-fit: contain;
}
.navbar{
  height: 626px;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../src/assets/hero_image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  
}
.letter-spacing{
  letter-spacing: 1px;
}