@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Signika:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Roboto:ital,wght@0,100..900;1,100..900&family=Signika:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Ephesis&family=Roboto:ital,wght@0,100..900;1,100..900&family=Signika:wght@300..700&display=swap");
@import "tailwindcss";

.century-gothic {
  font-family:
    Century Gothic,
    CenturyGothic,
    AppleGothic,
    sans-serif;
}

.signika-medium-500 {
  font-family: "Signika", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: medium;
}

.roboto-regular-400 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo {
  height: 150px;
  width: 150px;
  top: 5px;
  left: 43px;
  object-fit: contain;
}

.navbar {
  height: 626px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../src/assets/hero_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
}

.letter-spacing {
  letter-spacing: 1px;
}

.img-height-width {
  height: 197px;
  width: 197px;
  object-fit: cover;
}

.ephesis-regular {
  font-family: "Ephesis", cursive;
  font-weight: 400;
  font-style: normal;
}

.eb-garamond-regular {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 0;
}

.image-container {
  position: relative;
  width: 400px;
}

.bg {
  width: 100%;
  display: block;
}

.overlay {
  position: absolute;
  top: 100px;
  left: 150px;
  border-radius: 10px;
  height: 450px;
  width: 500px;
  object-fit: cover;
}

.overlay2 {
  position: absolute;
  top: 320px;
  left: 130px;
  width: 20px;
  height: 200px;
}

.overlay3 {
  position: absolute;
  top: 450px;
  left: 250px;
  border-radius: 10px;
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.livvic-bold {
  font-family: "Livvic", sans-serif;
  font-weight: 700;
  font-style: Bold;
}

.livvic-bold-medium {
  font-family: "Livvic", sans-serif;
  font-weight: 500;
  font-style: Bold;
}

.line-break {
  line-break: auto;
  line-height: 27px;
}

.gallery-card-img {
  height: 306px;
  width: 306px;
  border-radius: 10px;
  outline: 2px dashed #616b1a;
}

.contact-img {
  height: 600px;
  width: 380px;
  object-fit: cover;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.footer{
  background-image: url('../src//assets/footerbg.jpg');
  height: 384px;
  background-size:cover;
  object-fit: cover;
  background-repeat: no-repeat;
}